main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr  1fr;
    grid-template-areas:
    "header header  header  header  header"
    "aside section section section section"
    "footer footer  footer  footer  footer";
    row-gap: 0;
    column-gap: 0;
    grid-template-rows: 20% 70% 10%;
    height: 98vh;
    
}

header {
    background-color:#2B8D90 ;
    grid-area: header;
    display: grid;
 
}

section {
    grid-area: section;
    
}

panel {
    grid-area: panel;
   
}

footer {
    grid-area: footer;
    background-color: rgb(33, 134, 136);
align-items: center;
}
